@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

li {
    /* margin: 5px;
    margin-left: 5vw;
    margin-right: 5vw; */
    font-size: 1rem;
    color: white;
    font-family: "Source Code Pro";
}